body{
    font-family: arial;
}

#container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 0.1rem solid lightgrey;
    border-radius: 1rem;

    margin-top: 1%;
    margin-right: 1%;
    width: 7%;
    padding: 0.6%;
    text-align: justify;

}

.card img{
    width: 100%;
}